<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPay</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./index.js"></script>
  </head>

  <body>

    <header class="text-7xl text-white bg-gray-900 body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a href="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
         
          <span class="ml-3 text-4xl font-bold ">SmartPay</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center font-bold text-xl justify-center">
          <a class="mr-5 hover:text-white" href="/">Home</a>
          <a class="mr-5 hover:text-white" href="/payments">Payments</a>
          <a class="mr-5 hover:text-white" href="/payments">Banking</a>
          <a class="mr-5 hover:text-white" href="/contact">Contact Us</a>
        </nav>
        
        <button
          class="inline-flex uppercase font-bold  items-center bg-blue-800 border-0 py-2 px-4 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"> 
          <a href="/login"> Sign
            UP / Login</a>
         

        </button>
      </div>
    </header>


    <section class="text-gray-400 bg-gray-900 body-font">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center "  data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000">
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-0 font-medium font-extrabold text-white">Simple, Fast & Secure
          </h1> <br>
          <h1 class="title-font sm:text-4xl text-3xl mb-0 font-medium font-extrabold text-white">Pay whenever you like,
            wherever you
            like.
          </h1> <br>
          <h1 class="title-font sm:text-4xl text-3xl mb-2 font-medium font-extrabold text-white">Your money stays safe.
          </h1>
          <p class="mb-4 leading-relaxed font-black font-bold">Recharge & pay bills, book flights & movie tickets, open
            a savings account,
            invest in stocks & mutual funds, and do a lot more.</p>

        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded-3xl" alt="hero"
            src="https://cdn.dribbble.com/users/508588/screenshots/7917470/media/0456b59ec9a829b469e8c774e9b02fcb.jpg?compress=1&resize=400x300">
        </div>
      </div>
    </section>

    <section class="text-gray-400 bg-gray-900 body-font">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"  data-aos="flip-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000">

        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded-3xl" alt="hero"
            src="https://cdni.iconscout.com/illustration/premium/thumb/payment-via-digital-wallet-3678915-3135973.png">
        </div>
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-0 font-medium font-extrabold text-white">India's Most Loved Payment Application
          </h1> <br>
          <h1 class="title-font sm:text-4xl text-3xl mb-0 font-medium font-extrabold text-white">Fastest way to pay online...
          </h1> <br>
          <h1 class="title-font sm:text-4xl text-3xl mb-2 font-medium font-extrabold text-white">Your money stays safe.
          </h1>
          <p class="mb-4 leading-relaxed font-black font-bold">Accept payments from any UPI app - PhonePe, PayTM, Google Pay, BHIM and 150+ others with your BharatPe QR. Payments get settled in your bank account.</p>

        </div>

      </div>
    </section>

    <section class="text-gray-400 bg-gray-900 body-font">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center" data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000">
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-0 font-medium font-extrabold text-white">Want it?
            No more waiting for it.
          </h1> <br>
          <h1 class="title-font sm:text-4xl text-3xl mb-0 font-medium font-extrabold text-white">Pay anyone directly from your bank account.
          </h1> <br>
          <h1 class="title-font sm:text-4xl text-3xl mb-2 font-medium font-extrabold text-white">Financial Services by SmartPay
          </h1>
          <p class="mb-4 leading-relaxed font-black font-bold">Pay anyone, everywhere. Make contactless & secure payments in-stores or online using SmartPay Wallet or Directly from your Bank Account. Plus, send & receive money from anyone.</p>

        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded-3xl" alt="hero"
            src="https://media.istockphoto.com/vectors/payment-terms-and-conditions-vector-concept-metaphors-vector-id1192840300">
        </div>
      </div>
    </section>

    <footer class="text-gray-400 bg-gray-900 body-font">
      <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col" data-aos="flip-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1000">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
           
            <span class="ml-3 text-4xl font-bold text-white">SmartPay</span>
          </a>
          <p class="mt-2 text-sm text-gray-500">Simple, Fast & Secure Way of Payment</p>
        </div>
        <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-xl font-bold mb-3">General</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-white">About Us</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Business Solutions</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Report Vulnerability</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Merchant Partners</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-xl font-bold mb-3">Connect</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-white">Careers</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Contact Us</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Ethics</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Blog</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-xl font-bold mb-3">Legal</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-white">Terms & Conditions</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Privacy Policy</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">How to Pay</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">E-Waste Policy</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-xl font-bold mb-3">Others</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-white">Grievance Policy</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Payment Blogs</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Business Policy</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Explore Site</a>
              </li>
            </nav>
          </div>
        </div>
      </div>
      <div class="bg-gray-800 bg-opacity-75">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
          <p class="text-lg text-center font-bold text-white sm:text-left">© 2021 SmartPay —
            <a href="https://twitter.com/knyttneve" class="text-gray-500 ml-1" rel="noopener noreferrer"
              target="_blank">@shivling </a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
            <a class="text-gray-400">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                </path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none"
                  d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </footer>

    <script>
      AOS.init();
    </script>
  </body>

</html>